.skeleton-item {
  background-color: #d8d8d8;
  border-color: #d8d8d8;
  display: inline-block;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: -125%;
    left: -100%;
    width: 40px;
    height: 350%;
    opacity: 0;
    transform: rotate(45deg);
    background: rgba(255, 255, 255, 0.2);
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    animation: shine;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
  }
}

.result-skeleton-item {
  height: 120px;
  width: 100%;
  border: 1px solid #ccc;
  border-left: 2px solid #94c093;
  box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  border-top: 0;
  border-radius: 3px;

  @media (min-width: 768px) {
    border: 1px solid #ccc;
    width: 300px;
    height: 180px;
  }

  @media (min-width: 992px) {
    width: 400px;
  }

  &__title {
    width: 210px;
    height: 10px;
    margin-left: 70px;
    margin-top: 8px;

    @media (min-width: 768px) {
      width: 225px;
      margin: 5px 0 5px 68px;
    }

    @media (min-width: 992px) {
      width: 260px;
      margin: 5px 0 5px 95px;
    }
  }

  &__img {
    height: 50px;
    width: 50px;
    margin: 0 5px 0 0;
    border-radius: 50%;

    @media (min-width: 768px) {
      height: 70px;
      width: 70px;
      margin: 10px 5px 0 5px;
    }
  }

  &__desc {
    width: 82%;
    height: 50px;

    @media (min-width: 768px) {
      width: 290px;
      height: 110px;
      margin-right: 6px;
    }
  }
}

.skeleton-list {
  display: block;
  margin-top: 62px;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
    grid-gap: 5px;
    align-items: stretch;
    justify-content: center;
    margin: 120px 0;
  }

  @media (min-width: 992px) {
    grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
  }
}

@keyframes shine {
  from {
    opacity: 0.5;
    left: -100%;
  }

  to {
    opacity: 1;
    left: 200%;
  }
}
