@import url("https://fonts.googleapis.com/css?family=Quattrocento&display=swap");

.oil-details {
  font-family: "Quattrocento", cursive;
  display: flex;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  // transition: 0.3s;
  // margin: 0 30px;
  .precaution {
    font-size: 1.1rem;
    margin: 50px;
    @media only screen and (max-width: 480px) {
      margin: 50px 0;
    }

    &__subtitle {
      text-decoration: underline;
      margin-bottom: 15px;
    }
  }

  @media only screen and (max-width: 480px) {
    margin: 0;
  }

  .oil-img {
    width: 100%;
    margin: 5px;
    img {
      width: auto;
      height: 250px;
    }

    @media only screen and (max-width: 480px) {
      display: none;
    }
  }

  &__content {
    margin: 0 30px;

    .oil-title {
      font-size: 2.1rem;
      margin: 0.2rem;
      text-align: center;

      @media only screen and (max-width: 480px) {
        font-size: 1.5rem;
        margin: 0;
        position: absolute;
        top: 40px;
        right: 25px;
        width: 220px;
      }
    }

    .detail-desc {
      font-family: "Quattrocento", cursive;
      margin: 50px;
      text-align: center;
      font-size: 1.1rem;

      @media only screen and (max-width: 480px) {
        margin: 30px 0;
      }
    }

    .detail-btn {
      background: none;
      border: none;
      width: 100%;
      outline: none;
      padding: 0;
      margin: 0;
    }
  }
}
