@import url("https://fonts.googleapis.com/css?family=Quattrocento&display=swap");

.oil-details {
  font-family: "Quattrocento", cursive;
  display: flex;
  margin: 5px 0;
  line-height: 120%;

  @media (min-width: 768px) {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .precaution {
    font-size: 1.1rem;
    margin: 50px 0;
    padding: 10px;

    @media (min-width: 768px) {
      line-height: 148%;
    }

    &__subtitle {
      margin-bottom: 15px;
      font-size: 1.2rem;
      font-weight: bold;
      text-decoration: underline;
    }

    &__content {
      list-style: disc;
      text-align: left;
      margin: 10px 0 20px 20px;

      @media (min-width: 768px) {
        margin: 10px 0 20px 0;
      }

      li {
        margin-bottom: 10px;
      }
    }
  }

  .oil-utilisation {
    width: 290px;
    background: rgba(19, 128, 36, 0.5);
    border-radius: 7px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ddd;
    transition: top 0.5s linear;

    @media (min-width: 768px) {
      position: absolute;
      width: 32%;
      left: 10px;
      top: 12%;

      li {
        margin-bottom: 10px;
      }
    }

    @media (min-width: 992px) {
      top: 17%;
    }

    // tablette landscape
    @media (max-device-width: 1024px) and (orientation: landscape) {
      top: 25%;
    }
  }

  .oil-ideal {
    margin: 30px 0;
    font-size: 1.1rem;
    font-style: italic;

    &__desc {
      margin: 10px;
      font-size: 1.5rem;
    }

    ul {
      padding: 5px;

      @media (min-width: 550px) {
        padding: 0;
        columns: 2;
      }
    }

    li {
      margin: 6px;

      @media (min-width: 768px) {
        margin: 0;
      }
    }
  }

  .oil-img {
    display: none;

    @media (min-width: 768px) {
      display: block;
      width: 100%;
      margin: 10px;
      flex: 1;

      img {
        width: 100%;
        height: auto;
        position: relative;
        top: 0;
        transition: top 0.5s linear;
      }
    }
  }

  &__content {
    margin: 0;

    @media (min-width: 768px) {
      margin: 0 30px;
      flex: 2;
    }

    .oil-title {
      margin: 0;
      position: absolute;
      top: 40px;
      right: 25px;
      width: 220px;
      font-size: 1.1rem;

      @media (min-width: 768px) {
        line-height: 1;
        position: initial;
        width: 100%;
        font-size: 2.1rem;
        margin: 15px;
        text-align: center;
      }
    }

    .detail-desc {
      font-family: "Quattrocento", cursive;
      font-size: 1.1rem;
      text-align: center;
      margin: 30px 0;
      padding: 0 2px;
    }

    .detail-btn {
      background: 0;
      border: 0;
      // outline: none;
      width: 98%;
      padding-left: 7px;
      padding: 0;
      margin-left: 4px;
      margin-bottom: 10px;

      @media (min-width: 768px) {
        width: 100%;
      }

      .wrap-collabsible {
        .collapsible-content {
          .content-inner ul {
            list-style: disc;
            text-align: left;
            margin: 10px 0 20px 50px;

            li {
              margin-bottom: 10px;
            }

            @media (min-width: 768px) {
              margin: 10px 0 20px 80px;
            }
          }

          .subtitle {
            margin: 10px;
            font-size: 1.2rem;
            font-weight: bold;
            text-decoration: underline;
            font-style: italic;

            li {
              margin-bottom: 10px;
            }

            @media (min-width: 768px) {
              margin: 20px;
            }
          }
        }
      }
    }
  }
}
