.recette-btn {
  display: block;
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 20px 2px;
  opacity: 0.6;
  transition: 0.3s;
  position: relative;
  width: 100%;
  border-radius: 10px;
  text-decoration: none;

  @media (min-width: 768px) {
    position: absolute;
    top: 640px;
    bottom: initial;
    width: 30%;
    margin-left: 8px;

    &:focus {
      outline: 1px dashed rgb(19, 128, 36);
    }
  }

  @media (min-width: 992px) {
    top: 590px;
  }

  @media (min-width: 1200px) {
    top: 610px;
  }

  @media (max-device-width: 1024px) and (orientation: landscape) {
    top: 620px;
  }
}

.recette-btn:hover {
  opacity: 1;
}
