@import url("https://fonts.googleapis.com/css?family=Quattrocento&display=swap");

.wrap-collabsible {
  border: 1px solid #ddd;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  font-family: "Quattrocento", cursive;
  font-size: 1.1rem;
  width: 100%;
  text-align: left;
}

.lbl-toggle {
  position: relative;
  display: block;
  font-weight: 900;
  // font-family: monospace;
  font-size: 1.2rem;
  // text-transform: uppercase;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  transition: all 0.25s ease-out;

  svg {
    position: absolute;
    top: 5px;
    width: 60px;
    height: 40px;
    fill: rgba(19, 128, 36, 0.5);
  }
}

.lbl-toggle:hover {
  @media only screen and (min-width: 768px) {
    color: rgba(19, 128, 36, 0.5);
  }
}

.lbl-toggle::before {
  content: " ";
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: 0.7rem;
  transform: translateY(-2px);

  transition: transform 0.2s ease-out;
}

.toggle.isOpen + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  overflow-y: scroll;
  transition: max-height 0.25s ease-in-out;
}

.toggle.isOpen + .lbl-toggle + .collapsible-content {
  max-height: 200vh;
}

.toggle.isOpen + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 0.5rem 1rem;

  @media only screen and (max-width: 600px) {
    padding: 5px 10px;
  }
}
