@import url("https://fonts.googleapis.com/css?family=Quattrocento|Sacramento&display=swap");
.header {
  font-family: "Sacramento", cursive;
  outline: none;
  display: flex;
  align-items: center;
  width: 100%;
  height: 6.25rem; //100px;
  // border-radius: 0% 0% 150% 150%/0% 0% 40% 40%;
  // border-radius: 0% 0% 100% 100%/0% 0% 30% 30%;
  border-radius: 0% 0% 250% 250%/0% 0% 40% 40%;
  transition: height 0.6s, background-color 0.6s linear;
  background-color: rgba(19, 128, 36, 0.5);

  @media (min-width: 768px) {
    height: 465px;
    flex-direction: column;
    border-radius: initial;
  }

  &__title {
    &__content {
      display: flex;
      align-items: center;
      width: 70%;

      @media (min-width: 768px) {
        flex-direction: column;
        width: 100%;
      }

      h2 {
        display: none;

        @media (min-width: 768px) {
          display: block;
          font-size: 40px;
        }
      }

      img {
        width: 60%;
        @media (min-width: 768px) {
          width: 30%;
        }

        @media (min-width: 992px) {
          width: 35%;
        }
      }
    }
  }

  .bold-green {
    color: rgba(19, 128, 36, 0.54);
  }

  .previous {
    visibility: hidden;
    border: none;
    cursor: pointer;
    background: none;
    color: black;
    padding: 8px;

    @media (min-width: 768px) {
      position: absolute;
      top: 0;
      left: 0;
      margin: 10px;
      font-size: 1.2rem;
    }
  }

  .is-active {
    visibility: visible;
    font-size: 1.1rem;
  }
}

// sticky only tablette desktop
.sticky {
  top: 0;
  position: fixed;
  z-index: 1;
  height: 6.25rem; //100px;
  flex-direction: row;
  background: white;

  .header__title {
    &__content {
      flex-direction: row;
      align-items: center;
    }
  }

  h2 {
    display: none;
  }

  img {
    width: 65%;
    margin: 0;
  }

  .previous {
    position: initial;
    top: initial;
    left: initial;
    // background-color: rgba(19, 128, 36, 0.54);
  }
}

.sticky + .container {
  position: relative;
  top: 80px;

  .search-bar {
    z-index: 1;
    position: fixed;

    .react-autosuggest__input {
      width: 80%;
    }

    @media (min-width: 768px) {
      right: 100px;

      .react-autosuggest__input {
        width: 100%;
      }
    }

    @media (min-width: 992px) {
      right: 170px;
    }

    @media (min-width: 1200px) {
      .react-autosuggest__input {
        width: 70%;
      }
    }
  }

  .oil-details {
    position: relative;
    top: 100px;
    box-shadow: initial;

    .oil-img {
      img {
        position: relative;
        top: 10%;

        @media (min-width: 992px) {
          top: 15%;
          width: 70%;
        }
      }
    }

    &__content {
      .oil-title {
        z-index: 1;
        position: fixed;
        top: 15px;
        left: 35%;

        @media (min-width: 768px) {
          left: 25%;
          width: 70%;
          line-height: 1;
        }

        @media (min-width: 992px) {
          left: 10%;
          width: 100%;
          line-height: 1;
        }
      }

      .oil-utilisation {
        @media (min-width: 768px) {
          top: 25%;
        }

        @media (min-width: 992px) {
          top: 31%;
        }

        // tablette landscape
        @media (max-device-width: 1024px) and (orientation: landscape) {
          top: 40%;
        }
      }
    }
  }

  .recipe {
    position: relative;
    top: 200px;
    box-shadow: initial;
    padding-bottom: 0;

    .oil-title {
      z-index: 1;
      position: fixed;
      top: 15px;
      left: 35%;
      padding: 0;

      @media (min-width: 768px) {
        left: 25%;
        line-height: 1;
        width: 70%;
      }
    }
  }
}
