.header {
  top: 0;
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 28.125rem; //450px
  background: url('../../assets/images/essential-oils.jpg') 0 0 no-repeat;
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
  transition: 0.4s;

  &__title {
    top: 0;
    left: 0;
    position: absolute;

    h1 {
      display: none;
    }
  }

  .search-bar {
    position: absolute;
    width: 60%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
.heightScrollDown {
  height: 6.25rem; //100px;
}

.logoSizeDown {
  width: 15%;
  position: initial;
}
