@import url("https://fonts.googleapis.com/css?family=Quattrocento|Sacramento&display=swap");

.react-autosuggest__container {
  width: 100%;
  position: relative;
}

.react-autosuggest__input {
  width: 100%;
  // padding: 2px;
  font-size: 1.1rem;
  border: 1px solid rgba(19, 128, 36, 0.3);
  border-radius: 6px;
  color: #000;
  background-color: #fff;
  height: 50px;
  font-family: "Quattrocento", serif;
}

.react-autosuggest__input::placeholder {
  color: #777;
  opacity: 1;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  position: absolute;
  top: 40px;
  padding: 0;
  background-color: #fff;
  list-style-type: none;
  width: 100%;
  border: 1px solid #eee;
  z-index: 1;
  overflow: hidden;
  min-height: 200px;
  height: 100px;
  overflow-y: scroll;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 5px;
  border-bottom: 1px solid #eee;
  white-space: wrap;
  font-size: 0.9rem;
  font-family: "Quattrocento", serif;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
  width: 100%;
}

.result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 80%;
}

.highlight {
  background-color: yellow;
  padding: 4px;
  border-radius: 2px;
}

// styles pour desktop/tablets
@media (min-width: 600px) {
  .react-autosuggest__input {
    padding: 10px;
    font-weight: 300;
    font-size: 1.2rem;
  }

  .react-autosuggest__suggestions-list {
    font-size: 1.2rem;
    min-height: 100px;
    top: initial;
  }

  .react-autosuggest__suggestion {
    padding: 10px;
    white-space: nowrap;
    font-size: 1.3rem;
  }
}
