.header {
  top: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 28.125rem; //450px
  background: url("/assets/images/essential-oils.png") 0 0 no-repeat;
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
  transition: 0.4s;
  background-color: white;

  &__title {
    /*  width: 20rem;
    height: 9.68rem; //155px;
    margin: 0 auto;
 */
    h1 {
      display: none;
    }
  }

  .search-bar {
    width: 50%;
    /* position: absolute;
    top: 40%; */
  }
}
.heightScrollDown {
  height: 6.25rem; //100px;
  flex-direction: row;
}

.logoSizeDown {
  width: 15%;
  margin: 0 10px;
  img {
    width: 70%;
  }
}
