.search-bar {
  font-family: "Quattrocento", serif;
  width: 60%;
  position: absolute;
  top: 35px;
  right: 25px;
}

// styles pour desktop/tablets
@media (min-width: 600px) {
  .search-bar {
    position: relative;
    top: 25px;
    right: 0;
    margin: 0 auto;
  }
}
