.select-container {
  .select {
    &__control {
      border-radius: 1.25rem; //20px
      padding: 0.3rem;
    }
    &__multi-value {
      border-radius: 50px;
      background-color: grey;
    }
  }
}
