.container {
  min-height: 100vh;
  margin: 0 20px;
  position: relative;
  top: -95px;
  background: white;
  border-radius: 6px;

  @media only screen and (max-width: 480px) {
    position: initial;
    margin: 0 10px;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
  }
}

/* Sur les grands écrans, on limite la largeur du contenu */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .container {
    // position: relative;
    // top: -95px;
    // background: white;
    // border-radius: 6px;
    margin: 0 auto;
  }
}
