.container {
  min-height: 100vh;
  margin: 0 10px;

  @media (min-width: 768px) {
    margin: 5px 20px;
    position: relative;
    top: -95px;
    background: white;
    border-radius: 6px;
  }

  @media (min-width: 992px) {
    margin: 0 auto;
  }

  /* Sur les grands écrans, on limite la largeur du contenu */
  @media (min-width: 1200px) {
    width: 1170px;
    margin: 0 auto;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
  }
}
